.theme_light {
  background-color: white;
  color: black;
}
.theme_light .btn__primary {
  background-color: black;
  color: white;
}

.theme_dark {
  background-color: black;
  color: white;
}
.theme_dark .btn__primary {
  background-color: white;
  color: black;
}
