#wrapper {
    /* CSS grid set up */
    display: grid;
    grid-template:
        'header header' auto
        'main aside' 800px
        'footer footer' auto /
        800px auto
        ;
    /* height: 100vh; */
    /* width: 100vw; */
}

header {
    grid-area: header;
    border: 1px blue solid;
    background-color: azure;
}
main {
    grid-area: main;
    /* background-color: azure; */
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
    border: 1px blue solid;
    background-color: azure;
}

#board {
    background-color: bisque;
}

#panel {
    background-color: azure;
}
